[submodule "doorway/themes/ananke"]
	path = doorway/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "doorway/themes/er"]
	path = doorway/themes/er
	url = git@github.com:lingxz/er.git
[submodule "doorway/public"]
	path = doorway/public
	url = git@github.com:kushalsingh007/kushalsingh007.github.io.git
	branch = master
[submodule "doorway/themes/hugo-academic"]
	path = doorway/themes/hugo-academic
	url = git@github.com:gcushen/hugo-academic.git
[submodule "doorway/themes/hyde-hyde"]
	path = doorway/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
